<% provide(:title, @cocktail.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/cocktail_info' %>
    </section>
  </aside>
  <div class="span8">
    <% if true %>
      <h3>ingredients</h3>
      <ol class="ingredients">
        <% @cocktail.components.each do |component| %>
          <li>
            <span class="name">
              <%= component.ingredient.name %>
            </span>
            <span class="amount">
              <%= component.amount %>
            </span>
          </li>
        <% end %>
      </ol>
      <%#= will_paginate @cocktails %>
    <% end %>
  </div>
</div>