<% provide(:title, @user.name) %>
<div class="row">
  <div class="span6">
    <section>
      <h3>
        liquor cabinet
      </h3>
    </section>
    <% if @user == current_user #signed_in? %>
<!--     <section>
      <%= render 'shared/user_info' %>
    </section>
 -->    <section>
      <%= render 'shared/cocktail_form' %>
      </section>
    <% end %>
  </div>
 <div class="span6">
    <% if @user.cocktails.any? %>
      <h3>cocktails</h3>
      <ol class="cocktails">
        <%= render @cocktails %>
      </ol>
      <%= will_paginate @cocktails %>
    <% end %>
  </div>
</div>
