<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.cocktails.any? %>
      <h3>cocktails (<%= @user.cocktails.count %>)</h3>
      <ol class="cocktails">
        <%= render @cocktails %>
      </ol>
      <%= will_paginate @cocktails %>
    <% end %>
  </div>
</div>

<%#= link_to 'Edit', edit_user_path(@user) %> <!-- | -->
<%#= link_to 'Back', users_path %>
