<h1 class="name">
  <%= @cocktail.name %>
</h1>
<span>
  <%= @cocktail.description %>
</span>
<span>
  rating: <%= @cocktail.rating %>
</span>
<% if current_user?(@cocktail.user) %>
    <%= link_to "delete", @cocktail, method: :delete,
                                  data: { confirm: "confirm your intentions" },
                                  title: @cocktail.name %>
<% end %>